<header class="header">
  <div class="container">
    <div class="left-side">
      <a href="/">
        <img src="images/logo.png" alt="logo" class="logo">
      </a>
    </div>
    <div class="right-side">
    <nav>
      <ul class="nav">
        <li class="nav-item"> 
          <a href="" class="nav-item-link">Главная </a>
        </li>
        <li class="nav-item">
          <a href="#consalting" class="nav-item-link">Консалтинг</a>
          </li>
        <li class="nav-item">
          <a href="" class="nav-item-link">О нас</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-item-link">План</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-item-link">Результат</a>
        </li>
      </ul>
      </nav>
      <div>
        <span>+380639646994</span>
      </div>
      </div>
  </div>
</header>