<section class="main">
  

    <div class="container-main-section">
      <div class="left-side_main">
        <h1 class="title__main_part">Консалтинг</h1>
        <div class="main_part">
          <div class="left__main_part">
            <ul>
              <li class="left__main_part_item"><img src="images/activeEllipse.png" alt="ellipse"></li>
              <li class="left__main_part_item"><img src="images/ellipse.png" alt="ellipse"></li>
              <li class="left__main_part_item"><img src="images/ellipse.png" alt="ellipse"></li>
              <li class="left__main_part_item"><img src="images/ellipse.png" alt="ellipse"></li>
              <li class="left__main_part_item"><img src="images/ellipse.png" alt="ellipse"></li>
            </ul>

          </div>
          <div class="right__main_part">
          <h2 class="main_part_text">во взаимодействии персонала бизнеса с конечным клиентом</h2>
          <p class="main_part_secondary-text">Contrary to popular belief, Lorem Ipsum is not simply random text</p>
          <button class="main_part-btn">Заказать звонок</button>
          </div>
        </div>

      </div>
      <div class="right-side_main">
        <ul class="main-decor-list">
          <li class="main-decor-list-item">
            <p class="main-decor-list-item-text">GALLERY OF WORKS</p>
          </li>
          <li class="main-decor-list-item">
            <ul class="main-decor-social-list">
              <li class="main-decor-social-item">
                <a href="https://twitter.com" target="_blank" rel="noreferrer nofollow">
                <svg width="20px" height="20px">
                  <use href="./images/sprite.svg#icon-twitter"></use>
                </svg>
                </a>
              </li>
              <li class="main-decor-social-item">
                <a href="https://whatsapp.com" target="_blank" rel="noreferrer nofollow">
                  <svg width="20px" height="20px">
                    <use href="./images/sprite.svg#icon-whatsapp"></use>
                  </svg>
                </a>
              </li>
              <li class="main-decor-social-item">
                <a href="https://telegram.com" target="_blank" rel="noreferrer nofollow">
                  <svg width="20px" height="20px">
                    <use href="./images/sprite.svg#icon-telegram"></use>
                  </svg>
                </a>
              </li>
              <li class="main-decor-social-item">
                <a href="https://instagram.com" target="_blank" rel="noreferrer nofollow">
                  <svg width="20px" height="20px">
                    <use href="./images/sprite.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
              <li class="main-decor-social-item">
                <a href="https://facebook.com" target="_blank" rel="noreferrer nofollow">
                  <svg width="20px" height="20px">
                    <use href="./images/sprite.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </li>
        </ul>
        </div>
      </div>
    
  </div>

</section>