<section class="rezult" id="plan">
  <div class="container-section">
    <div class="left-side-section">
      <div class="left-side-decor">
        <ul class="left-side-decor-list">
          <li class="left-side-decor-list-item">
            <p class="left-side-decor-list-item-text">LoremIpsum</p>
            <a href="tel:+380939646994" class="left-side-decor-list-item-text ">
              <p class="left-side-decor-list-item-text tel">+380939646994</p>
            </a>
          </li>
          <li class="left-side-decor-list-item">
            <p class="left-side-decor-list-item-text">LoremIpsum</p>
          </li>
          <li class="left-side-decor-list-item">
            <p class="left-side-decor-list-item-text">LoremIpsum</p>
          </li>
        </ul>
      </div>
      <div class="left-side-logo">
        <img src="images/BigLogo.png" alt="Logo" class="section-logo">
      </div>
      <div class="left-side-elipses">
        <h2 class="section-title">РЕЗУЛЬТАТ</h2>
        <ul class="section-ellipses">
          <li class="left__main_part_item"><img src="images/ellipse.png" alt="ellipse"></li>
          <li class="left__main_part_item"><img src="images/ellipse.png" alt="ellipse"></li>
          <li class="left__main_part_item"><img src="images/ellipse.png" alt="ellipse"></li>
          <li class="left__main_part_item"><img src="images/ellipse.png" alt="ellipse"></li>
          <li class="left__main_part_item"><img src="images/activeEllipse.png" alt="ellipse"></li>
        </ul>
      </div>
      <div class="left-side-main-information">
        <p class="left-side-main-information-title">
          Contrary to popular belief, Lorem Ipsum is not simply random text.
        </p>
        <div class="counterWrapper">
          <p class="count">200</p>
          <svg class="plus-icon" width="50px" height="50px">
            <use href="./images/sprite.svg#icon-plus"></use>
          </svg>
        </div>
        <p class="count-title">ВЫПОЛНЕНЫХ ПРОЕКТОВ</p>
        <p class="section-question">МЫ РАБОТАЕМ НА РЕЗУЛЬТАТ</p>
        <p class="toDo">смотреть</p>
        <svg class="mouse-icon" width="26px" height="46px">
          <use href="./images/sprite.svg#icon-mouse"></use>
        </svg>
        <p class="first-consultation">Первая консультация в нашей компании <span
            class="consultation-decor">бесплатно</span> </p>
      </div>
    </div>


    <!-- ///////////////////////////////////////////////////////////////// -->
    <div class="right-side-section">
      <div class="right-side-main-information">
        <nav class="section-navigation">
          <ul class="nav">
            <li class="nav-item">
              <a href="" class="nav-item-link">Главная </a>
            </li>
            <li class="nav-item">
              <a href="#consalting" class="nav-item-link">Консалтинг</a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-item-link">О нас</a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-item-link">План</a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-item-link active">Результат</a>
            </li>
          </ul>
        </nav>
        <div class="right-side-main-info">
          <div class="first-info">
            <p class="info-count-title left">Contrary to popular belief, Lorem Ipsum</p>
            <p class="info-count">5</p>
            <p class="info-count-index">/5</p>
          </div>
          <div class="second-info">
            <p class="info-count-title">Contrary to popular belief, Lorem Ipsum</p>
            <p class="info-count">5</p>
          </div>

        </div>
      </div>
      <ul class="right-side-decor-list">

        <li class="right-side-decor-list-item">
          <p class="right-side-decor-list-item-text">УСЛУГИ</p>
        </li>
        <li class="right-side-decor-list-item">
          <p class="right-side-decor-list-item-text">ДЛЯ ЧЕГО КОНСАЛТИНГ</p>
        </li>
        <li class="right-side-decor-list-item">
          <p class="right-side-decor-list-item-text">ПРЕИМУЩЕСТВА</p>
        </li>
      </ul>
    </div>

  </div>

</section>